[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "external/hello-rustee"]
	path = external/hello-rustee
	url = https://github.com/Zondax/hello-rustee
